<h1>Watchlist#index</h1>

<form>
  <input type="text" ng-model="newSymbol" placeholder="enter a Symbol">
  <input type="submit" value="add">
</form>


<div ng-controller="StocksCtrl">
  <ul>
    <li ng-repeat="stock in stocks">
      {{stock.symbol}}, {{stock.name}}
    </li>
  </ul>
</div>